@import "../global/variables";

.follow {
  display: grid;
  grid-template-columns: 0.7fr 5fr 2.5fr;
  gap: 3rem;

  .actual-follow {
    margin: 3rem 0;
    padding: 0 0.5rem 0 0;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;

    .tab {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      overflow: hidden;

      p {
        text-align: center;
        padding: 1rem;
        font-size: 17px;
        cursor: pointer;
        font-weight: 600;

        &:nth-child(1) {
          border-right: 1px solid $heading;
        }
        &.active {
          background: #3e3e3e1a;
        }
      }
    }
  }
}
